$colorSelectSite: #f16d7f;
$widthSiteTop: 1140px;
$widthSite: 1600px;
$backBlock: #222;
$colorText: #222;
$gapGrid: 30px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.center_top {
  padding-left: calc(50% - $widthSiteTop / 2);
  padding-right: calc(50% - $widthSiteTop / 2);
}

.center {
  padding-left: calc(50% - $widthSite / 2);
  padding-right: calc(50% - $widthSite / 2);
}

.header {
  background-color: $backBlock;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_icon {
    display: flex;
    align-items: center;
    gap: 41px;
  }

  &_nav {
    display: flex;
    align-items: center;
    gap: 33px;
  }
}

.top-head {
  background: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__heading {
    color: $colorSelectSite;
    font-size: 24px;
    font-weight: 400;
  }
}

.breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  &_site {
    color: $colorSelectSite;
    font-weight: 700;
  }
}

.breadcrumbs__link:not(:last-child)::after {
  content: "/";
  padding: 0 8px;
}

.filter-sort {
  height: 132px;
  padding-top: 39px;
  position: relative;
  display: flex;
  gap: $gapGrid;
}
.filter {
  padding-top: 13px;
  width: 360px;
  position: relative;
  z-index: 10;

  &__content {
    background-color: #fff;
    padding-top: 0;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }

  &[open] {
    background: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  }

  &[open] .filter__heading {
    color: $colorSelectSite;
  }

  &[open] path {
    fill: $colorSelectSite;
  }
  &__summary {
    display: flex;
    align-items: center;
    gap: 11px;
    padding-left: 16px;
  }

  &__heading {
    color: $colorText;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__item {
    margin-top: 16px;
  }

  &__subtitle {
    color: #6f6e6e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px 11px 11px 11px;
    border-bottom: 1px solid #ebebeb;
    border-left: 5px solid $colorSelectSite;
  }

  &__item[open] .filter__subtitle {
    color: $colorSelectSite;
  }

  &__link-box {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 24px 16px;
  }

  &__link {
    color: #6f6e6e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:hover {
      color: $colorSelectSite;
    }
  }
}

.sort {
  padding-top: 13px;
  display: flex;
  gap: 28px;

  &__details {
    position: relative;
  }

  &__summary {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__heading {
    color: #6f6e6e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: #fff;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    padding: 7px 30px 11px 9px;
    position: absolute;
    left: -9px;
    top: 20px;
  }

  &__check {
    display: flex;
    align-items: center;
    gap: 9px;
    color: #6f6e6e;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.product_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-bottom: 48px;
}

.product_heading {
  color: $colorText;
  font-size: 30px;
  font-weight: 400;
}

.product_description {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
}

.img_pink {
  background-color: #f7e4e2;
  padding: 9px 110px 11px 108px;
}

.box {
  background-color: #f8f8f8;
  max-width: 360px;
}

.product_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
}

.sale_product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-left: 230px;
  padding-right: 230px;
}

.name {
  color: $colorText;
  font-size: 13px;
  font-weight: 400;
}

.description {
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.price {
  color: $colorSelectSite;
  font-size: 16px;
  font-weight: 400;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 97px;
  margin-left: 620px;
  margin-right: 620px;
  //border: 1px solid #ebebeb;

  &__link {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  &__link:hover {
    background-color: #ddd;
  }
}

.info {
  background-color: #222224;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 104px 230px;
  min-height: 341px;

  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_img1 {
    width: 44.989px;
    height: 31.935px;
    flex-shrink: 0;
    margin-bottom: 28.07px;
  }

  &_img2 {
    width: 39.986px;
    height: 39.924px;
    flex-shrink: 0;
    margin-bottom: 19.07px;
  }

  &_img3 {
    width: 47.023px;
    height: 34.927px;
    flex-shrink: 0;
    margin-bottom: 25.06px;
  }

  &_heading {
    color: #fbfbfb;
    font-size: 19.96px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &_text {
    color: #fbfbfb;
    text-align: center;
    font-size: 13.972px;
    font-weight: 300;
  }
}

.connection {
  min-height: 448px;
  background: url(img/Layer_41.jpg) no-repeat, rgba(244, 244, 244, 0.7);
  background-blend-mode: overlay;
  background-size: cover;

  &_top {
    height: 448px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 223px;
    padding-left: 230px;
    padding-right: 230px;
  }

  &_review {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_review_img {
    margin-bottom: 30px;
  }

  &_review_text {
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }

  &_subscription {
    width: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_subscription_heading {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
    /* 40.128px */
  }

  &_subscription_text {
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
    text-align: center;
    margin-bottom: 32px;
  }

  &_form {
    display: flex;
  }

  &_input {
    background-color: #e1e1e1;
    border: 5px solid #e1e1e1;
    padding: 7px 22px 6px 22px;
    border-radius: 20px 0px 0px 20px;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
  }

  &_subscription_button {
    background-color: #f16d7f;
    border: 1px solid #f16d7f;
    padding: 7px 7px 6px 8px;
    border-radius: 0px 20px 20px 0px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }

  &_subscription_button:hover {
    background-color: #fff;
    color: $colorSelectSite;
  }
}

.footer {
  background-color: #222224;
  min-height: 79px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &_text {
    color: #fbfbfb;
    font-size: 16px;
    font-weight: 400;
  }

  &_site {
    padding: 8px 10px;
    margin-right: 7px;
    background-color: #fff;
  }

  &_site:hover {
    background-color: #f16d7f;
  }
}

@media screen and (max-width: 1024px) {
  .center_top {
    padding-left: calc(50% - 370px);
    padding-right: calc(50% - 370px);
  }
  .sale_product {
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .box:last-of-type {
    display: none;
  }

  .pagination {
    margin-left: 253px;
    margin-right: 253px;
  }

  .info {
    flex-wrap: wrap;
  }

  .connection_top {
    flex-wrap: wrap;
    gap: 48px;
    padding-left: 7px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .center_top {
    padding-left: calc(50% - 150px);
    padding-right: calc(50% - 150px);
  }

  .center {
    padding-left: calc(50% - 150px);
    padding-right: calc(50% - 150px);
  }

  .header_nav_2 {
    display: none;
  }

  .header_nav_3 {
    display: none;
  }

  .main_picture {
    display: none;
  }

  .top-head {
    flex-wrap: wrap;
    gap: 32px;
    display: flex;
    justify-content: center;
  }

  .box {
    max-width: 359px;
  }

  .pagination {
    margin-left: 152px;
  }

  .filter-sort {
    padding-left: calc(50% - 179px);
    padding-right: calc(50% - 180px);
  }
  .filter {
    position: absolute;
    width: 205px;

    &__heading {
      display: none;
    }
    &__summary {
      padding-left: 0;
    }
    &__svg {
      width: 37px;
      height: 25px;
    }
  }
  .sort {
    padding-left: 74px;
    &__heading {
      font-size: 12px;
    }
  }
  .info {
    padding: 48px 13px 81px 14px;
  }

  .connection_review_text {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .connection_subscription_text {
    font-size: 14px;
  }

  .footer {
    flex-direction: column-reverse;
    height: 143px;
  }
}
