* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.center_top {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.header {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_icon {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header_nav {
  display: flex;
  align-items: center;
  gap: 33px;
}

.top-head {
  background: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumbs__link:not(:last-child)::after {
  content: "/";
  padding: 0 8px;
}

.top-head__heading {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
}

.breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.breadcrumbs__link_site {
  color: #f16d7f;
  font-weight: 700;
}

.top_img {
  position: relative;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 463px;
  max-height: 777px;
  border: 1px solid #eaeaea;
}
.top_img_center {
  width: 597px;
}
.top_img_left {
  padding: 8px;
  background: rgba(42, 42, 42, 0.15);
}
.top_img_left:hover path {
  fill: #f16d7f;
}
.top_img_right {
  padding: 8px;
  background: rgba(42, 42, 42, 0.15);
}
.top_img_right:hover path {
  fill: #f16d7f;
}

.information {
  min-height: 665px;
  position: relative;
}
.information_bloc {
  border: 1px solid #eaeaea;
  height: 601px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1140px;
  position: absolute;
  background: #ffffff;
  top: -65px;
  padding: 64px 250px 65px;
}
.information_heading {
  color: #f16d7f;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 12px;
}
.information_title {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 12px;
  margin-bottom: 48px;
}
.information_text {
  color: #5e5e5e;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 32px;
}
.information_price {
  color: #ef5b70;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 65px;
}
.information_filter {
  margin-top: 56px;
  display: flex;
  margin-bottom: 48px;
  gap: 23px;
}
.information_filter_bloc {
  display: flex;
  align-items: center;
  gap: 9px;
}
.information_filter_heading {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.information_button_buy {
  display: flex;
  align-items: center;
  gap: 23px;
  padding: 15px 57px 15px 24px;
  border: 1px solid #f16d7f;
  background: #ffffff;
  color: #f26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.information_button_buy:hover {
  background: #d9d3d3;
}

.product {
  margin-bottom: 128px;
}

.box {
  background-color: #f8f8f8;
  max-width: 360px;
}

.product_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
}

.sale_product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-left: 230px;
  padding-right: 230px;
}

.name {
  color: #222;
  font-size: 13px;
  font-weight: 400;
}

.description {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
}

.price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
}

.connection {
  min-height: 448px;
  background: url(img/Layer_41.jpg) no-repeat, rgba(244, 244, 244, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
}
.connection_top {
  height: 448px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 223px;
  padding-left: 230px;
  padding-right: 230px;
}
.connection_review {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connection_review_img {
  margin-bottom: 30px;
}
.connection_review_text {
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.connection_subscription {
  width: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connection_subscription_heading {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%;
  /* 40.128px */
}
.connection_subscription_text {
  color: #222224;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
  text-align: center;
  margin-bottom: 32px;
}
.connection_form {
  display: flex;
}
.connection_input {
  background-color: #e1e1e1;
  border: 5px solid #e1e1e1;
  padding: 7px 22px 6px 22px;
  border-radius: 20px 0px 0px 20px;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
}
.connection_subscription_button {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  padding: 7px 7px 6px 8px;
  border-radius: 0px 20px 20px 0px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.connection_subscription_button:hover {
  background-color: #fff;
  color: #f16d7f;
}

.footer {
  background-color: #222224;
  min-height: 79px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_text {
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
}
.footer_site {
  padding: 8px 10px;
  margin-right: 7px;
  background-color: #fff;
}
.footer_site:hover {
  background-color: #f16d7f;
}

@media screen and (max-width: 1024px) {
  .center_top {
    padding-left: calc(50% - 370px);
    padding-right: calc(50% - 370px);
  }
  .top_img {
    gap: 104px;
    height: 624px;
  }
  .top_img_center {
    width: 466px;
  }
  .top_img_bloc {
    width: 768px;
    position: relative;
    top: auto;
    padding: 64px 106px 65px;
  }
  .information_bloc {
    width: 768px;
    padding-left: 106px;
    padding-right: 106px;
    position: static;
  }
  .sale_product {
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .box:last-of-type {
    display: none;
  }
  .info {
    flex-wrap: wrap;
  }
  .connection_top {
    flex-wrap: wrap;
    gap: 48px;
    padding-left: 7px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 768px) {
  .information {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .center_top {
    padding-left: calc(50% - 150px);
    padding-right: calc(50% - 150px);
  }
  .center {
    padding-left: calc(50% - 150px);
    padding-right: calc(50% - 150px);
  }
  .header_nav_2 {
    display: none;
  }
  .header_nav_3 {
    display: none;
  }
  .main_picture {
    display: none;
  }
  .top-head {
    flex-wrap: wrap;
    gap: 32px;
    display: flex;
    justify-content: center;
  }
  .top_img_left {
    position: absolute;
    left: 0px;
  }
  .top_img_center {
    width: 374px;
  }
  .top_img_right {
    right: 0;
    position: absolute;
  }
  .information {
    padding-right: 0;
    padding-left: 0;
  }
  .information_bloc {
    width: 425px;
    padding-left: 24px;
    padding-right: 25px;
  }
  .information_filter_heading {
    font-size: 10px;
  }
  .information_title {
    margin-bottom: 31px;
  }
  .information_price {
    margin-bottom: 31px;
  }
  .information_filter {
    margin-top: 49px;
  }
  .information__svg {
    width: 175px;
  }
  .box {
    max-width: 359px;
  }
  .connection_review_text {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .connection_subscription_text {
    font-size: 14px;
  }
  .footer {
    flex-direction: column-reverse;
    height: 143px;
  }
}
@media screen and (max-width: 376px) {
  .information {
    padding-right: 0;
    padding-left: 0;
  }
  .information_bloc {
    width: 375px;
  }
}/*# sourceMappingURL=product_style.css.map */